<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Email: kylelinwu@gmail.com
</p>
<p>
  If you wish you learn more about the Ruby on Rails Tutorial,  
  contact the Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>
